<%#
ファイル名は、コントローラ名/アクション名.html.erbにする
この名前にすると、アクセス時のURLが/コントローラー名/アクション名　になる。
@chart_headerでコントローラ側で指定したテンプレート変数を取得できる。

form_forが自動的に生成してくれるパスは複数形のみ。
urlを指定して、飛び先を教えてあげる。
 #%>

<h1>id: <%= @chart.id %> の比較表編集ページ</h1>

<%= form_with(model: @chart) do |f| %>
    <%#なぜここでは既存の値が取れてきているのか。 :titleが@chart.titleと紐づいているのはなぜか。%>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %><br>
    <%= f.label :description, "Description" %>
    <%= f.text_field :description %><br>

    <%#これでも取得できた。%>
    <%= f.label :evaluations, "Evaluations" %>
    <%= f.text_field :evaluations %><br>


    <%# binding.pry %>
    <table class="table">
      <thead>
        <tr>
          <th>観点</th>
          <th>
            <%#既存のレコードで初期値を設定したい。submitの結果、同じidでレコードが保存されればそれでOK%>
            <%= f.label :itemname, "1" %>
            <%= text_field_tag 'itemnames[]', @chart.evaluations[0].items[0].name, placeholder: "比較するアイテムを入力" %>
          </th>
          <th>
            <%= f.label :itemname, "2" %>
            <%= text_field_tag 'itemnames[]', @chart.evaluations[1].items[0].name, placeholder: "比較するアイテムを入力"  %><br>
          </th>
          <th>
            <%= f.label :itemname, "3" %>
            <%= text_field_tag 'itemnames[]', @chart.evaluations[2].items[0].name, placeholder: "比較するアイテムを入力" %><br>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= f.label :viewpointname, "1" %>
            <%= text_field_tag 'viewpointnames[]', @chart.evaluations[0].viewpoints[0].name, placeholder: "入力してください"  %>
          </td>
          <% for id in 0..2 do %>
            <td>
              <%= f.label :score, "Score" + id.to_s %>
              <select name="evaluationscores[]">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
              </select>
              <br>
              <%= f.label :comment, "Comment" + id.to_s %>
              <%= text_field_tag 'evaluationcomments[]' , @chart.evaluations[id].comment, placeholder: "未入力です" %><br>
            </td>
          <% end %>
        </tr>
        <tr>
          <td>
            <%= f.label :viewpointname, "2" %>
            <%= text_field_tag 'viewpointnames[]', @chart.evaluations[3].viewpoints[0].name, placeholder: "入力してください" %>
          </td>
          <% for id in 3..5 do %>
            <td>
              <%= f.label :score, "Score" + id.to_s %>
              <select name="evaluationscores[]">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
              </select>
              <br>
              <%= f.label :comment, "Comment" + id.to_s %>
              <%= text_field_tag 'evaluationcomments[]', @chart.evaluations[id].comment, placeholder: "未入力です"  %><br>
            </td>
          <% end %>
        </tr>
        <tr>
          <td>
            <%= f.label :viewpointname, "3" %>
            <%= text_field_tag 'viewpointnames[]', @chart.evaluations[6].viewpoints[0].name, placeholder: "入力してください" %>
          </td>
          <% for id in 6..8 do %>
            <td>
              <%= f.label :score, "Score" + id.to_s %>
              <select name="evaluationscores[]">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
              </select>
              <br>
              <%= f.label :comment, "Comment" + id.to_s %>
              <%= text_field_tag 'evaluationcomments[]', @chart.evaluations[id].comment, placeholder: "未入力です" %><br>
            </td>
          <% end %>
        </tr>
        <tr>
        <td>
          MyBEST
        </td>
        <td>
          radio-button
        </td>
        <td>
          radio-button
        </td>
        <td>
          radio-button
        </td>
      </tr>
      </tbody>
    </table>


    <%= f.label :summarycomment, "総合コメント" %>
    <br>
    <%= f.text_field :summarycomment  %><br>


    <%= f.submit 'submit' %>
<% end %>

<%= link_to '一覧に戻る', charts_path %>