<div class="bg-warning p-3 p-sm-5 my-4 rounded">
  <div class="text-center text-white">
    <h1>kimeta</h1>
  </div>
</div>
<div class="mb-3 row">
  <div class="text-center">
    <%= link_to 'つくってみる', new_chart_path ,class: "btn btn-primary"%>
  </div>
</div>

<div class="bg-warning p-3 p-sm-3 my-4 rounded">
  <div class="text-left text-white">
    <h2>人気の比較表</h1>
  </div>
</div>

<ul>
  <% @charts.each do |chart| %>
    <li>表タイトル： <%= link_to chart.title, chart %> 表説明： <%= chart.description %></li>
    <ul>
      <% chart.evaluations.each do |evaluation| %>
        <li>評値値 <%= evaluation.score %></li> 
        <li>コメント <%= evaluation.comment %></li> 
        <li>アイテム <%= evaluation.items.first.name %></li> 
        <li>観点 <%= evaluation.viewpoints.first.name %></li> 
      <% end %>
    </ul>
  <% end %>
  <%== pagy_bootstrap_nav(@pagy) %>
</ul>



<div class="bg-warning p-3 p-sm-3 my-4 rounded">
  <div class="text-left text-white">
    <h2>人気のタグ</h1>
  </div>
</div>

