
<div class="bg-warning p-3 p-sm-3 my-4 rounded">
  <div class="text-left text-white">
    <h1>メッセージ新規作成ページ</h1>
  </div>
</div>
<%= form_with(model: @chart) do |f| %>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %><br>
    <%= f.label :description, "Description" %>
    <%= f.text_field :description %><br>



    <%= f.label :itemname, "Item0" %>
    <%= text_field_tag 'itemnames[]' %><br>
    <%= f.label :itemname, "Item1" %>
    <%= text_field_tag 'itemnames[]' %><br>
    <%= f.label :itemname, "Item2" %>
    <%= text_field_tag 'itemnames[]' %><br>

    <%= f.label :viewpointname, "Viewpoint0" %>
    <%= text_field_tag 'viewpointnames[]' %><br>
    <%= f.label :viewpointname, "Viewpoint1" %>
    <%= text_field_tag 'viewpointnames[]' %><br>
    <%= f.label :viewpointname, "Viewpoint2" %>
    <%= text_field_tag 'viewpointnames[]' %><br>

    <% for id in 0..8 do %>
      <%= f.label :score, "Score" + id.to_s %>
      <%= text_field_tag 'evaluationscores[]' %><br>
    <% end %>

    <% for id in 0..8 do %>
      <%= f.label :comment, "Comment" + id.to_s %>
      <%= text_field_tag 'evaluationcomments[]' %><br>
    <% end %>
    
    <%= f.submit 'submit' %>
<% end %>

  
<%= link_to '一覧に戻る', charts_path ,class: "btn btn-primary"%>