<h1>id: <%= @chart.id %> のメッセージ詳細ページ</h1>

<p>Title: <%= @chart.title %></p>
<p>Description: <%= @chart.description %></p>


<%# 配列の非空判定 %>
<% if !@chart.evaluations.empty? %>
    <ul>
    <% #カウンタ %>
    <% i = 0 %>
    <% @chart.evaluations.each do |evaluation| %>
        <% #binding.pry%>
        <li>評値値<%= i %>: <%= evaluation.score %></li> 
        <li>コメント<%= i %>: <%= evaluation.comment %></li> 
        <% #evaluation1つにつき、itemとviewpointは1つしか紐づいていないのでfirstでも正しい挙動をする %>
        <% if !evaluation.items.empty? && !evaluation.viewpoints.empty?%>
            <li>アイテム<%= i %>: <%= evaluation.items.first.name %></li> 
            <li>観点<%= i %>: <%= evaluation.viewpoints.first.name %></li> 
        <% end %>
        <% i += 1 %>
    <% end %>
    </ul>
<% else %>
    <p>評価項目がありません</p>
<% end %>

<%== pagy_bootstrap_nav(@pagy) %>

<%= link_to '一覧に戻る', charts_path %>
<%= link_to 'このメッセージを編集する', edit_chart_path(@chart) %>
<%= link_to 'このメッセージを削除する', @charts, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
