<h1>id: <%= @chart.id %> のメッセージ詳細ページ</h1>

<p>Title: <%= @chart.title %></p>
<p>Description: <%= @chart.description %></p>


<%# 配列の非空判定 %>
<% if !@chart.evaluations.empty? %>
    <ul>
    <% @chart.evaluations.each do |evaluation| %>
        <li>評値値 <%= evaluation.score %></li> 
        <li>コメント <%= evaluation.comment %></li> 
        <li>アイテム <%= evaluation.items.first.name %></li> 
        <li>観点 <%= evaluation.viewpoints.first.name %></li> 
    <% end %>
    </ul>
<% else %>
    <p>評価項目がありません</p>
<% end %>

<%== pagy_bootstrap_nav(@pagy) %>

<%= link_to '一覧に戻る', charts_path %>
<%= link_to 'このメッセージを編集する', edit_chart_path(@chart) %>
<%= link_to 'このメッセージを削除する', @charts, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
