<p>id: <%= @chart.id %> </p>

<div class="bg-warning p-3 p-sm-3 my-4 rounded">
  <h1><%= @chart.title %></h1>
</div>
  <h3 class="d-inline underline">説明</h3>
<p><%= @chart.description %></p>



<%# アイテムを重複して持たせる構造にしてしまった以上、重複を削除するしかない%>
<%# distinctメソッドで重複を削除したテーブルを作ってeach文を回せばOK。evaluation.nameは互いに独立しているから無理か。%>
<%# 観点からユニークな要素を抜きだして、要素名でfind_byして並べる%>
<%# アイテムからユニークな要素を抜き出して、要素名でfind_byして並べる%>

<% tmp_name = [] %>
<% tmp_viewpoint = [] %>

<% @chart.evaluations.each do |evaluation| %>
    <%# もしtmp_nameに evaluation.items.first.name が含まれていなければ保存%>
    <% if !tmp_name.include?(evaluation.items.first.name) then%>
        <% tmp_name.push(evaluation.items.first.name) %>
    <%# 含まれて入ればスキップ%>
    <% end %>
    <%# もしtmp_nameに evaluation.viewpoints.first.name が含まれていなければ保存%>
    <% if !tmp_viewpoint.include?(evaluation.viewpoints.first.name) then%>
        <% tmp_viewpoint.push(evaluation.viewpoints.first.name) %>
    <%# 含まれて入ればスキップ%>
    <% end %>

<% end %>
<%# ユニークなアイテム tmp_name %>
<%# ユニークな観点 tmp_viewpoint %>

<%# tmpclass = @chart.evaluations.find_by(comment: "c1") %>
<%#= tmpclass.score %>
<%#= tmpclass.comment %>

<%# 配列の非空判定 %>
<% if !@chart.evaluations.empty? %>

<table class="table">
<thead>
  <tr>
    <th>観点</th>
    <th><%= tmp_name[0]%></th>
    <th><%= tmp_name[1]%></th>
    <th><%= tmp_name[2]%></th>
  </tr>
</thead>
<tbody>
<tr>
  <td>こだわりポイント<br><h3><%= tmp_viewpoint[0]%></h3></td>
  <td align="left">
    <font size="7">
    <% if @chart.evaluations[0].score==1 then%>
    ✖️
    <% elsif @chart.evaluations[0].score==2 then%>
    <span class="yellow-font">△</span>
    <%else %>
    <font color="#ff0000">
    ◎
    </font>
    <%end%>
    </font>
    <br>
    comment:<%= @chart.evaluations[0].comment %>
  </td>
  <td>
    <font size="7"> 
    <% if @chart.evaluations[1].score==1 then%>
    ✖️
    <% elsif @chart.evaluations[1].score==2 then%>
    <span class="yellow-font">△</span>
    <%else %>
    <font color="#ff0000">
    ◎
    </font>
    <%end%>
    </font>
    <br>
    comment:<%= @chart.evaluations[1].comment %>
    </td>
  <td>
  <font size="7" color="#ff0000">
  <% if @chart.evaluations[2].score==1 then%>
  ✖️
  <% elsif @chart.evaluations[2].score==2 then%>
  <font class="yellow-font">
  △
  </font>
  <%else %>
  <font color="#ff0000">
  ◎
  </font>
  <%end%>
  </font>
  <br>
  comment:<%= @chart.evaluations[2].comment %>
  </td>
</tr>
<tr>
  <td>観点2<br><h3><%= tmp_viewpoint[1]%></h3></td>
  <td>
  <font size="7" color="#ff0000">
  <% if @chart.evaluations[3].score==1 then%>
  ✖️
  <% elsif @chart.evaluations[3].score==2 then%>
  <span class="yellow-font">
  △
  </span>
  <%else %>
  <font color="#ff0000">
  ◎
  </font>
  <%end%>
  </font>
  <br>
    comment:<%= @chart.evaluations[3].comment %>
  </td>
  <td>
  <font size="7" color="#ff0000">
  <% if @chart.evaluations[4].score==1 then%>
  ✖️
  <% elsif @chart.evaluations[4].score==2 then%>
  <span class="yellow-font">
  △
  </span>
  <%else %>
  <font color="#ff0000">
  ◎
  </font>
  <%end%>
  </font>
  <br>
    comment:<%= @chart.evaluations[4].comment %>
  </td>
  <td>
  <font size="7" color="#ff0000">
  <% if @chart.evaluations[5].score==1 then%>
  ✖️
  <% elsif @chart.evaluations[5].score==2 then%>
  <span class="yellow-font">
  △
  </span>
  <%else %>
  <font color="#ff0000">
  ◎
  </font>
  <%end%>
  </font>
  <br>
    comment:<%= @chart.evaluations[5].comment %>
  </td>
</tr>
<tr>
  <td>観点3<br><h3><%= tmp_viewpoint[2]%></h3></td>
  <td>
  <font size="7" color="#ff0000">
  <% if @chart.evaluations[6].score==1 then%>
  ✖️
  <% elsif @chart.evaluations[6].score==2 then%>
  <span class="yellow-font">
  △
  </span>
  <%else %>
  <font color="#ff0000">
  ◎
  </font>
  <%end%>
  </font>
  <br>
    comment:<%= @chart.evaluations[6].comment %>
  </td>
  <td>
  <font size="7" color="#ff0000">
  <% if @chart.evaluations[7].score==1 then%>
  ✖️
  <% elsif @chart.evaluations[7].score==2 then%>
  <span class="yellow-font">
  △
  </span>
  <%else %>
  <font color="#ff0000">
  ◎
  </font>
  <%end%>
  </font>
  <br>
    comment:<%= @chart.evaluations[7].comment %>
  </td>
  <td>
  <font size="7">
  <% if @chart.evaluations[8].score==1 then%>
  ✖️
  <% elsif @chart.evaluations[8].score==2 then%>
  <span class="yellow-font">
  △
  </span>
  <%else %>
  <font color="#ff0000">◎</font>
  <%end%>
  </font>
  <br>
    comment:<%= @chart.evaluations[8].comment %>
  </td>
</tr>
<tr>
<td>
MyBest
</td>
<td>

</td>
<td>
</td>
<td>
</td>
</tr>

<tbody>
</table>

<% else %>
    <p>評価項目がありません</p>
<% end %>

<h1 class="d-inline underline">総評</h1>
<h3><%= @chart.summarycomment %></h3>

<%= link_to '一覧に戻る', charts_path %>
<%= link_to 'このメッセージを編集する', edit_chart_path(@chart) %>
<%= link_to 'このメッセージを削除する', @charts, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
